[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_group }}

ExecStart=/usr/local/bin/node_exporter

SyslogIdentifier=node_exporter
Restart=always
ProtectSystem=full
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
